css
header {
    color: rgb(24, 24, 80);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgb(190, 190, 190);
    background-color: rgb(190, 190, 190);
    margin: 2px;
    padding: 2px;
}
body { 
    color: rgb(89, 29, 97);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin: 2px;
    padding: 2px;
}
h2
{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid rgb(190, 190, 190);
    background-color: rgb(190, 190, 190);
    margin: 2px;
    padding: 2px;
}

.black-border {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}
#green-background {
    background-color: rgb(197, 241, 197);
    margin: 2px;
    padding: 2px;
}
footer {color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    background-color: rgb(190, 190, 190);
    border: 1px solid rgb(190, 190, 190);
    margin: 20px;
    padding: 20px;
}